<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">MyFlaskApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" href="/">Home</a>         
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li> 
        </ul>
		
		<ul class="nav navbar-nav navbar-right">
			{% if session.login_in %}
			 <li class="nav-item"><a class="nav-link" href="/map_view">Taiwan_map</a></li>
			 <li class="nav-item"><a class="nav-link" href="/user_private">Private</a></li>
			 <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>		
             <li class="nav-item"><a class="nav-link" href="/recommand">Recommand</a></li>	 
             <li class="nav-item"><a class="nav-link" href="/test2">test2</a></li>
			{% else %}
			 <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
			 <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
			 
			{% endif %}
			
		
        </ul>
		
      </div>
    </nav>