{%extends 'layout.html'%}

{% block body %}
<br></br>
<style type="text/css">
	/* <!-- 折線圖import --> */
	 #flot-placeholder{width:775px;height:300px;}
  /* 表格Css */
	table.TB_COLLAPSE {
		width:100%;
		border-collapse:collapse;
	}
	table.TB_COLLAPSE caption {
		padding:10px;
		font-size:24px;
		background-color:#f3f6f9;
	}
	table.TB_COLLAPSE thead th {
		padding:5px 0px;
		color:#fff;
		text-align:center;
		background-color:#915957;
	}
	table.TB_COLLAPSE tbody td {
		padding:5px 0px;
		color:#555;
		text-align:center;
		background-color:#fff;
		border-bottom:1px solid #915957;
	}
	table.TB_COLLAPSE tfoot td {
		padding:5px 0px;
		text-align:center;
		background-color:#d6d6a5;
	}
</style>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://www.pureexample.com/js/flot/excanvas.min.js"></script><![endif]-->

<script type="text/javascript">
	var d = new Date();
	var now_hour = d.getHours();

	var plot_pm = JSON.parse('{{ past_pm | tojson|safe}}');


	if(now_hour%9==0){
		var pm0= plot_pm[0].pm1
		var pm1= plot_pm[0].pm2
		var pm2= plot_pm[0].pm3
		var pm3= plot_pm[0].pm4
		var pm4= plot_pm[0].pm5
		var pm5= plot_pm[0].pm6
		var pm6= plot_pm[0].pm7
		var pm7= plot_pm[0].pm8
		var pm8= plot_pm[0].pm0
	}
	if(now_hour%9==1){
		var pm0= plot_pm[0].pm2
		var pm1= plot_pm[0].pm3
		var pm2= plot_pm[0].pm4
		var pm3= plot_pm[0].pm5
		var pm4= plot_pm[0].pm6
		var pm5= plot_pm[0].pm7
		var pm6= plot_pm[0].pm8
		var pm7= plot_pm[0].pm0
		var pm8= plot_pm[0].pm1
	}
	if(now_hour%9==2){
		var pm0= plot_pm[0].pm3
		var pm1= plot_pm[0].pm4
		var pm2= plot_pm[0].pm5
		var pm3= plot_pm[0].pm6
		var pm4= plot_pm[0].pm7
		var pm5= plot_pm[0].pm8
		var pm6= plot_pm[0].pm0
		var pm7= plot_pm[0].pm1
		var pm8= plot_pm[0].pm2
	}
	if(now_hour%9==3){
		var pm0= plot_pm[0].pm4
		var pm1= plot_pm[0].pm5
		var pm2= plot_pm[0].pm6
		var pm3= plot_pm[0].pm7
		var pm4= plot_pm[0].pm8
		var pm5= plot_pm[0].pm0
		var pm6= plot_pm[0].pm1
		var pm7= plot_pm[0].pm2
		var pm8= plot_pm[0].pm3
	}
	if(now_hour%9==4){
		var pm0= plot_pm[0].pm5
		var pm1= plot_pm[0].pm6
		var pm2= plot_pm[0].pm7
		var pm3= plot_pm[0].pm8
		var pm4= plot_pm[0].pm0
		var pm5= plot_pm[0].pm1
		var pm6= plot_pm[0].pm2
		var pm7= plot_pm[0].pm3
		var pm8= plot_pm[0].pm4
	}
	if(now_hour%9==5){
		var pm0= plot_pm[0].pm6
		var pm1= plot_pm[0].pm7
		var pm2= plot_pm[0].pm8
		var pm3= plot_pm[0].pm0
		var pm4= plot_pm[0].pm1
		var pm5= plot_pm[0].pm2
		var pm6= plot_pm[0].pm3
		var pm7= plot_pm[0].pm4
		var pm8= plot_pm[0].pm5
	}
	if(now_hour%9==6){
		var pm0= plot_pm[0].pm7
		var pm1= plot_pm[0].pm8
		var pm2= plot_pm[0].pm0
		var pm3= plot_pm[0].pm1
		var pm4= plot_pm[0].pm2
		var pm5= plot_pm[0].pm3
		var pm6= plot_pm[0].pm4
		var pm7= plot_pm[0].pm5
		var pm8= plot_pm[0].pm6
	}
	if(now_hour%9==7){
		var pm0= plot_pm[0].pm8
		var pm1= plot_pm[0].pm0
		var pm2= plot_pm[0].pm1
		var pm3= plot_pm[0].pm2
		var pm4= plot_pm[0].pm3
		var pm5= plot_pm[0].pm4
		var pm6= plot_pm[0].pm5
		var pm7= plot_pm[0].pm6
		var pm8= plot_pm[0].pm7
	}
	if(now_hour%9==8){
		var pm0= plot_pm[0].pm0
		var pm1= plot_pm[0].pm1
		var pm2= plot_pm[0].pm2
		var pm3= plot_pm[0].pm3
		var pm4= plot_pm[0].pm4
		var pm5= plot_pm[0].pm5
		var pm6= plot_pm[0].pm6
		var pm7= plot_pm[0].pm7
		var pm8= plot_pm[0].pm8
	}






	 var data = [[now_hour-8, pm0], [now_hour-7, pm1], [now_hour-6, pm2], [now_hour-5, pm3], [now_hour-4,pm4], [now_hour-3, pm5], [now_hour-2,pm6], [now_hour-1,pm7], [now_hour, pm8]];

	 var dataset = [{label: "{{county}}"+"pm2.5",data: data}];

	 var options = {
			 series: {
					 lines: { show: true },
					 points: {
							 radius: 3,
							 show: true
					 }
			 }
	 };


	 // 折線圖


   // 展覽切割
	 var data = JSON.parse('{{ exinfo | tojson|safe}}');
	  document.write('<br></br><h3>{{county}} 現在的PM2.5是{{pm}}</h3>')
		document.write('<div id="flot-placeholder"></div>')
    document.write('<h3>{{county}} 展覽活動</h3>')
	  document.write('<table class="TB_COLLAPSE"><thead><tr><th>書籤</th><th>活動</th><th>地址</th><th>地點</th><th>結束時間</th></tr></thead>')

  for (var i in data)
  {
	 document.write('<tr>')
	 document.write('<td>')
	 document.write('<button type="button" class="btn btn-outline-primary">Primary</button>')
	 document.write('</td>')
	 document.write('<td>')
   document.write(data[i].title)
	 document.write('</td>')
	 document.write('<td>')
   document.write(data[i].location)
	 document.write('</td>')
	 document.write('<td>')
	 document.write(data[i].locationName)
	 document.write('</td>')
	 document.write('<td>')
	 document.write(data[i].endTime)
	 document.write('</td>')
   document.write('</tr>')

  }
	 document.write('</table>')
	 $(document).ready(function () {
			 $.plot($("#flot-placeholder"), dataset, options);
	 });

</script>
{{past_pm}}
<br></br>
<form method="POST">
	<style type="text/css">

        body {
            margin: 0 auto;
        }

        #exinfo {
            margin: 50px auto;
            width: 450px;
            font-size: 14px;
        }

        .content {
            float: left;
            width: 450px;
            margin: 40px 10px 50px 50px;
        }

        .bigfont {
            font-size: 40px;
        }

        .la {
            float: left;
            width: 500px;
            height: 20px;
            margin: 20px 0;
            line-height: 30px;
        }

        .la input {
            float: left;
        }

        .la span {
            float: left;
            line-height: 20px;
        }
    </style>


    <script type="text/javascript">

        var data = JSON.parse('{{ exinfo | tojson|safe}}');
        window.onload = function () {
            var county = ['{{county}}'];
            var exinfo =
            {
                '{{county}}': data
            };

            var recommand_exinfo = [county, exinfo];
            genCheck(recommand_exinfo);
        }


        function genCheck(recommand_exinfo) {
            var content = "content";
            var checkText = "checkbox";
            var link = "link";
            var size;

            $("#exinfo").html("");

            var county = recommand_exinfo[0];
            size = county.length;
            for (var i = 0; i < county.length; i++) {
                genShowContent("exinfo", checkText + i, i, county[i] , content + i);
            }
            var exinfo = recommand_exinfo[1];

            for (var i = 0; i < county.length; i++) {
                var array = exinfo[""+county[i]+""];
                for (var j = 0; j < array.length; j++) {
                    genCheckBox(content + i, link + i, array[j].ex_id, "ex_id:"+array[j].ex_id+"title:"+array[j].title+"location:"+array[j].location , i, false);
                    //id(沒用), name(縣市的checkboxname), value(真的id), showText, parentIndex, isCheck
                }

                var flag = isAllCheck(link + i);
                var box = document.getElementById(checkText + i);
                if (flag) {
                    box.checked = true;
                } else {
                    box.checked = false;
                }
                $("input[name=" + link + i + "]").each(function () {
                    $(this).unbind();
                    $(this).change(function () {
                        var flag = isAllCheck($(this).attr("name"));
                        var box = document.getElementById(checkText + $(this).attr("parentIndex"));
                        if (flag) {
                            box.checked = true;
                        } else {
                            box.checked = false;
                        }
                    });
                });
            }
            for (var i = 0; i < size; i++) {
                $("#" + checkText + i).unbind();
                $("#" + checkText + i).change(function () {
                    var temp = link + $(this).attr("index");
                    var p = document.getElementById(checkText + $(this).attr("index"));
                    var box = document.getElementsByName(temp);
                    for (var j = 0; j < box.length; j++) {
                        if (p.checked) {
                            box[j].checked = true;
                        } else {
                            box[j].checked = false;
                        }
                    }
                });
            }
        }

        // 動態產生checkbox
        function genCheckBox(id, name, value, showText, parentIndex, isCheck) {
            if (!isCheck) {
                var checkbox = "<div class='la'><input type='checkbox' parentIndex=" + parentIndex + " name=".concat(name).concat(" value=").concat(value).concat(" alt=").concat(showText).concat(" /><span>").concat(showText).concat("</span></div>");
                $("#" + id).append(checkbox);
            } else {
                var checkbox = "<div class='la'><input type='checkbox' parentIndex=" + parentIndex + " name=".concat(name).concat(" checked='checked' value=").concat(value).concat(" alt=").concat(showText).concat(" /><span>").concat(showText).concat("</span></div>");
                $("#" + id).append(checkbox);
            }
        }


        function genShowContent(id, checkboxId, index, showText, idName) {
            var showContent = "<div class='msg'><span class='bigfont'>".concat(showText).concat("： </span><input type='checkbox' index=").concat(index).concat(" id='").concat(checkboxId).concat("'/><span>全选</span><div class='content' id='").concat(idName).concat("' ></div></div>");
            $("#" + id).append(showContent);
        }


        function isAllCheck(name) {
            var box = document.getElementsByName(name);
            for (var j = 0; j < box.length; j++) {
                if (!box[j].checked) {
                    return false;
                }
            }
            return true;
        }

        /*ex_id_repeat = {{ex_id_repeat}}
        function repeatCheck(ex_id_repeat){
        var flag = isAllCheck(link + i);
        var box = document.getElementById(checkText + i);
            if (flag) {
                box.checked = true;
            } else {
                box.checked = false;
            }

        }*/
    </script>
    <div class="exinfo" id="exinfo"></div>
    <button type="submit">Submit</button>
    </form>
{% endblock %}
