{%extends 'layout.html'%}

{% block body %}
<br></br>
<style type="text/css">
	/* <!-- 折線圖import --> */
	 #flot-placeholder{width:775px;height:300px;}
  /* 表格Css */
	table.TB_COLLAPSE {
		width:100%;
		border-collapse:collapse;
	}
	table.TB_COLLAPSE caption {
		padding:10px;
		font-size:24px;
		background-color:#f3f6f9;
	}
	table.TB_COLLAPSE thead th {
		padding:5px 0px;
		color:#fff;
		text-align:center;
		background-color:#915957;
	}
	table.TB_COLLAPSE tbody td {
		padding:5px 0px;
		color:#555;
		text-align:center;
		background-color:#fff;
		border-bottom:1px solid #915957;
	}
	table.TB_COLLAPSE tfoot td {
		padding:5px 0px;
		text-align:center;
		background-color:#d6d6a5;
	}
</style>
<form method="post">
<script type="text/javascript">
	var d = new Date();
	var now_hour = d.getHours();

	var plot_pm = JSON.parse('{{ past_pm | tojson|safe}}');
    
    switch(now_hour%9)
    {
        case 0:
            var pm0= plot_pm[0].pm1
    		var pm1= plot_pm[0].pm2
    		var pm2= plot_pm[0].pm3
    		var pm3= plot_pm[0].pm4
    		var pm4= plot_pm[0].pm5
    		var pm5= plot_pm[0].pm6
    		var pm6= plot_pm[0].pm7
    		var pm7= plot_pm[0].pm8
    		var pm8= plot_pm[0].pm0
    		break;
    	case 1:
    		var pm0= plot_pm[0].pm2
    		var pm1= plot_pm[0].pm3
    		var pm2= plot_pm[0].pm4
    		var pm3= plot_pm[0].pm5
    		var pm4= plot_pm[0].pm6
    		var pm5= plot_pm[0].pm7
    		var pm6= plot_pm[0].pm8
    		var pm7= plot_pm[0].pm0
    		var pm8= plot_pm[0].pm1
    		break;
    	case 2:
    		var pm0= plot_pm[0].pm3
    		var pm1= plot_pm[0].pm4
    		var pm2= plot_pm[0].pm5
    		var pm3= plot_pm[0].pm6
    		var pm4= plot_pm[0].pm7
    		var pm5= plot_pm[0].pm8
    		var pm6= plot_pm[0].pm0
    		var pm7= plot_pm[0].pm1
    		var pm8= plot_pm[0].pm2
    		break;
    	case 3:
    		var pm0= plot_pm[0].pm4
    		var pm1= plot_pm[0].pm5
    		var pm2= plot_pm[0].pm6
    		var pm3= plot_pm[0].pm7
    		var pm4= plot_pm[0].pm8
    		var pm5= plot_pm[0].pm0
    		var pm6= plot_pm[0].pm1
    		var pm7= plot_pm[0].pm2
    		var pm8= plot_pm[0].pm3
    		break;
        case 4:
    		var pm0= plot_pm[0].pm5
    		var pm1= plot_pm[0].pm6
    		var pm2= plot_pm[0].pm7
    		var pm3= plot_pm[0].pm8
    		var pm4= plot_pm[0].pm0
    		var pm5= plot_pm[0].pm1
    		var pm6= plot_pm[0].pm2
    		var pm7= plot_pm[0].pm3
    		var pm8= plot_pm[0].pm4
    		break;
    	case 5:
    		var pm0= plot_pm[0].pm6
    		var pm1= plot_pm[0].pm7
    		var pm2= plot_pm[0].pm8
    		var pm3= plot_pm[0].pm0
    		var pm4= plot_pm[0].pm1
    		var pm5= plot_pm[0].pm2
    		var pm6= plot_pm[0].pm3
    		var pm7= plot_pm[0].pm4
    		var pm8= plot_pm[0].pm5
    		break;
    	case 6:
    		var pm0= plot_pm[0].pm7
    		var pm1= plot_pm[0].pm8
    		var pm2= plot_pm[0].pm0
    		var pm3= plot_pm[0].pm1
    		var pm4= plot_pm[0].pm2
    		var pm5= plot_pm[0].pm3
    		var pm6= plot_pm[0].pm4
    		var pm7= plot_pm[0].pm5
    		var pm8= plot_pm[0].pm6
    		break;
    	case 7:
    		var pm0= plot_pm[0].pm8
    		var pm1= plot_pm[0].pm0
    		var pm2= plot_pm[0].pm1
    		var pm3= plot_pm[0].pm2
    		var pm4= plot_pm[0].pm3
    		var pm5= plot_pm[0].pm4
    		var pm6= plot_pm[0].pm5
    		var pm7= plot_pm[0].pm6
    		var pm8= plot_pm[0].pm7
    		break;
    	case 8:
    		var pm0= plot_pm[0].pm0
    		var pm1= plot_pm[0].pm1
    		var pm2= plot_pm[0].pm2
    		var pm3= plot_pm[0].pm3
    		var pm4= plot_pm[0].pm4
    		var pm5= plot_pm[0].pm5
    		var pm6= plot_pm[0].pm6
    		var pm7= plot_pm[0].pm7
    		var pm8= plot_pm[0].pm8
    		break;
	}

	



	 var data = [[now_hour-8, pm0], [now_hour-7, pm1], [now_hour-6, pm2], [now_hour-5, pm3], [now_hour-4,pm4], [now_hour-3, pm5], [now_hour-2,pm6], [now_hour-1,pm7], [now_hour, pm8]];

	 var dataset = [{label: "{{county}}"+"pm2.5",data: data}];

	 var options = {
			 series: {
					 lines: { show: true },
					 points: {
							 radius: 3,
							 show: true
					 }
			 }
	 };


	 // 折線圖


   // 展覽切割
	  var data = JSON.parse('{{ exinfo | tojson|safe}}');
	  document.write('<br></br><h3>{{county}} 現在的PM2.5是{{pm}}</h3>')
		document.write('<div id="flot-placeholder"></div>')
    document.write('<h3>{{county}} 展覽活動</h3>')
	  document.write('<table class="TB_COLLAPSE"><thead><tr><th>書籤</th><th>活動</th><th>地址</th><th>地點</th><th>結束時間</th></tr></thead>')

  for (var i in data)
  {

	 document.write('<tr><td><input type="checkbox" name="exinfo_id_list" value='+data[i].ex_id+'></td>')
	 document.write('<td>'+data[i].title+'</td><td>'+data[i].location+'</td><td>'+data[i].locationName+'</td><td>'+data[i].endTime+'</td></tr>')
		 
  }
  document.write('</form>');

	 document.write('</table>')
	 $(document).ready(function () {
			 $.plot($("#flot-placeholder"), dataset, options);
	 });


    </script>
    <button type="submit" class="btn btn-outline-primary">新增書籤</button>
	<br></br>
    </form>
{% endblock %}
