{% extends 'layout.html' %}

{% block body %}
	<br></br>
	<br></br>
	<h1>個人資料</h1>
			<!-- 個人頁面 -->



	<script>

		// 個人資料變數
		var user_imformation = JSON.parse('{{ userdata | tojson|safe}}');
		document.write('<div class="container bootstrap snippet"><div class="panel-body inf-content"><div class="row">' +
			'<div class="col-md-4">' +
					'<img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/user-453533-fdadfd.png" data-original-title="Usuario">' +
      '</div>' +
			'<div class="col-md-6">' +
					'<strong>Information</strong><br>' +
					'<div class="table-responsive">' +
					'<table class="table table-condensed table-responsive table-user-information">' +
							'<tbody>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'Identificacion' +
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													user_imformation[0].id +
											'</td>' +
									'</tr>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'<span class="glyphicon glyphicon-user  text-primary"></span>' +
															'Name' +
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													user_imformation[0].username +
											'</td>' +
									'</tr>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'<span class="glyphicon glyphicon-cloud text-primary"></span>' +
															'Lastname'+
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													'Bootstrap' +
											'</td>' +
									'</tr>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'<span class="glyphicon glyphicon-bookmark text-primary"></span>' +
															'Username' +
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													'bootnipets' +
											'</td>' +
									'</tr>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'<span class="glyphicon glyphicon-eye-open text-primary"></span>' +
															'Role' +
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													'Admin' +
											'</td>' +
									'</tr>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'<span class="glyphicon glyphicon-envelope text-primary"></span>' +
															'Email' +
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													user_imformation[0].email +
											'</td>' +
									'</tr>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'<span class="glyphicon glyphicon-calendar text-primary"></span>' +
															'created' +
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													'20 jul 20014' +
											'</td>' +
									'</tr>' +
									'<tr>' +
											'<td>' +
													'<strong>' +
															'<span class="glyphicon glyphicon-calendar text-primary"></span>' +
															'Modified' +
													'</strong>' +
											'</td>' +
											'<td class="text-primary">' +
													 '20 jul 20014 20:00:00' +
											'</td>' +
									'</tr>' +
							'</tbody>' +
					'</table>' +
					'</div>' +
			'</div>' +
	'</div>' +
'</div>' +
'</div>')



		// 書籤展覽切割
    var data = JSON.parse('{{ favorite_exinfo | tojson|safe}}');

		document.write('<h3>{{county}}我的最愛</h3>')
		document.write('<table class="TB_COLLAPSE"><thead><tr><th>書籤</th><th>活動</th><th>地址</th><th>地點</th><th>結束時間</th></tr></thead>')

		for (var i in data)
		{
		 document.write('<tr>')
		 document.write('<td>')
		 document.write('<button type="button" class="btn btn-outline-primary">Primary</button>')
		 document.write('</td>')
		 document.write('<td>')
		 document.write(data[i].title)
		 document.write('</td>')
		 document.write('<td>')
		 document.write(data[i].location)
		 document.write('</td>')
		 document.write('<td>')
		 document.write(data[i].locationName)
		 document.write('</td>')
		 document.write('<td>')
		 document.write(data[i].endTime)
		 document.write('</td>')
		 document.write('</tr>')

		}
		 document.write('</table>')

	</script>
	<form method="POST">
	<style type="text/css">

				/* 表格Css */
				table.TB_COLLAPSE {
					width:100%;
					border-collapse:collapse;
				}
				table.TB_COLLAPSE caption {
					padding:10px;
					font-size:24px;
					background-color:#f3f6f9;
				}
				table.TB_COLLAPSE thead th {
					padding:5px 0px;
					color:#fff;
					text-align:center;
					background-color:#915957;
				}
				table.TB_COLLAPSE tbody td {
					padding:5px 0px;
					color:#555;
					text-align:center;
					background-color:#fff;
					border-bottom:1px solid #915957;
				}
				table.TB_COLLAPSE tfoot td {
					padding:5px 0px;
					text-align:center;
					background-color:#d6d6a5;

				/*個人畫面css */
				.inf-content{
				    border:1px solid #DDDDDD;
				    -webkit-border-radius:10px;
				    -moz-border-radius:10px;
				    border-radius:10px;
				    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
				}

    </style>

		<br></br>
		<br></br>
{% endblock %}
